body {font-family: 'Arial';}
.canvas {width: 100%; max-width: 800px; margin: 50px auto 0; padding: 10px 30px; border: 2px dashed #ccc;}

.content {width: 50%; margin: 0 auto;}
.list {list-style: none; padding-left: 0;}
.list li {text-align: center; }
.list a {color: #fff; display: block; padding: 5px 0; margin: 10px 0; text-decoration: none; background: #398CD4; border-radius: 4px;}
.list a:hover {font-weight: bold; opacity: 0.85; transition: all ease-in-out .2s;}
